body
{
    background-color: black;
}
nav 
{
    background-color: burlywood;
    border-radius: 5px;
    height: 40px;
    text-align: center;
}
nav a 
{
    color: crimson;
    text-align: center;
    padding: 10px;
    text-decoration:none;
}
nav a:hover
{
    text-decoration: none;
    font-style: bold;
}
.responsive
{
    padding: 5px;
    height: 40px;
    width: auto;
}

.registration
{
    height: 40px;
    float: right;
    list-style-type: none;
    
}
.register
{
    margin-top: 5px;
    float: left;
}
.register a 
{
    margin-right: 10px;
    padding: 14px;
    border-radius: 5px;
    text-align: center;

}
.register a:hover
{
    background-color: darkgray;
}

.form-inline
{
    margin:10px 0px 0px 40px;

}
.form-inline .form-control
{
    padding: 10px;
    margin-right: 10px;
    height: 60px;
    border-radius: 10px;
    
}

.form-inline .search-button
{
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

