body
{
    background-color: yellow;
}
  

  @media screen and (max-width: 991px) {
    /* start of large tablet styles */
    body
    {    
        background-color: green;
    }
    
    }
    
    @media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    body
    {    
        background-color: blue;
    }    
    }
    
    @media screen and (max-width: 479px) {
    /* start of phone styles */
    body
    {    
        background-color: yellow;
    }
    }


nav
{
    margin-top: 5px;
    background-color: lightblue;
}

.navbar
{

    float: left;
    background-color: lightblue;
    text-align: center;
    border-radius: 10px ;
}
@media screen and (max-width :767px){
    .navbar
    {
        float: left;
        background-color: red;
        text-align: center;
        border-radius: 10px ;

    }
}
.nav-item
{
    list-style: none;
    text-align: center;
}
.nav-item a 
{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(26, 21, 31);
    text-decoration: none;
    padding: 10px;
}
.nav-item a:hover
{
    background-color: lightgreen;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.sign-in
{
    margin-top: 5px;
    float: right;
}


